
asgiref
celery
channels
channels-redis
cryptography
daphne
distro
dj-rest-auth
django
django-allauth
django-cors-headers
djangorestframework
djangorestframework-simplejwt
google-auth
google-genai
googleapis-common-protos
hf-xet
huggingface-hub
langchain
langchain-chroma
langchain-core
langchain-google-genai
langchain-huggingface
langchain-protocol
langchain-qdrant
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
oauthlib
prompt-toolkit
protobuf
psycopg2-binary
pydantic
pydantic-core
pydantic-settings
pyjwt
qdrant-client
redis
transformers
tzdata
tzlocal
ujson
urllib3
uvicorn
watchfiles
websocket-client
websockets
youtube-transcript-api
yt-dlp