aiohappyeyeballs
aiohttp
aiosignal
amqp
annotated-doc
annotated-types
anyio
asgiref
asttokens
attrs
autobahn
automat
backcall
backoff
bcrypt
beautifulsoup4
billiard
bleach
build
cbor2
celery
certifi
cffi
channels
channels-redis
charset-normalizer
chromadb
click
click-didyoumean
click-plugins
click-repl
constantly
cryptography
cuda-bindings
cuda-pathfinder
cuda-toolkit
daphne
decorator
defusedxml
distro
dj-rest-auth
django
django-allauth
django-cors-headers
django-redis
djangorestframework
djangorestframework-simplejwt
docopt
durationpy
executing
fastjsonschema
filelock
filetype
flatbuffers
frozenlist
fsspec
google-auth
google-genai
googleapis-common-protos
grpcio
h11
h2
hf-xet
hpack
httpcore
httptools
httpx
huggingface-hub
hyperframe
hyperlink
idna
importlib-resources
incremental
ipython
jedi
jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyterlab-pygments
kombu
kubernetes
langchain
langchain-chroma
langchain-core
langchain-google-genai
langchain-huggingface
langchain-protocol
langchain-qdrant
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
markdown-it-py
markupsafe
matplotlib-inline
mdurl
mistune
mmh3
mpmath
msgpack
multidict
narwhals
nbclient
nbconvert
nbformat
networkx
numpy
nvidia-cublas
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn-cu13
nvidia-cufft
nvidia-cufile
nvidia-curand
nvidia-cusolver
nvidia-cusparse
nvidia-cusparselt-cu13
nvidia-nccl-cu13
nvidia-nvjitlink
nvidia-nvshmem-cu13
nvidia-nvtx
oauthlib
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
overrides
packaging
pandocfilters
parso
pexpect
pickleshare
pipreqs
platformdirs
portalocker
prompt-toolkit
propcache
protobuf
psycopg2-binary
ptyprocess
pure-eval
py-ubjson
pyasn1
pyasn1-modules
pybase64
pycparser
pydantic
pydantic-core
pydantic-settings
pygments
pyjwt
pyopenssl
pypika
pyproject-hooks
python-dateutil
python-dotenv
pyyaml
pyzmq
qdrant-client
redis
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
service-identity
setuptools
shellingham
six
sniffio
soupsieve
sqlparse
stack-data
sympy
tenacity
threadpoolctl
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
transformers
triton
twisted
txaio
typer
typing-extensions
typing-inspection
tzdata
tzlocal
ujson
urllib3
uuid-utils
uvicorn
uvloop
vine
watchfiles
wcwidth
webencodings
websocket-client
websockets
xxhash
yarg
yarl
youtube-transcript-api
yt-dlp
zope-interface
zstandard
